:root {
    --contrast: #FB7B6B;
    --bgColor: #F0F0F0;
    --fontColor: #522D5B;
}

html {
    scroll-behavior: smooth;
}

ul {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ahref {
    color: var(--contrast);
    font-family: 'Segoe UI';
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    -webkit-animation: fadeInFromNone 3s ease-out;
            animation: fadeInFromNone 3s ease-out;
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
}

nav ul {
    float: right;
    margin-right: 30px;
    width: 30%;
    
    
    position: relative;
    top: 45px;

    font-size: 24px;
    font-weight: 400;
    color: var(--fontColor);
    font-family: 'Segoe UI';
}

.logo {
    position: relative;
    top: 50px;
    left: 60px;
    font-size: 26px;
}

.bold {
    font-weight: bold;
    color: var(--fontColor);
    font-family: 'Segoe UI';
}

.darkLightSwitch {
    height: 30px;
    width: 30px;
    position: relative;
    top: 3px;
    z-index: 100;
    cursor: pointer;
}

.corner {
    position: absolute;
    width: 22%;
    height: auto;
    -webkit-animation: fadeInFromNone 4s ease-out;
            animation: fadeInFromNone 4s ease-out;
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.cornerLeft {
    bottom: 20px;
    left: 20px;
}

.cornerRight {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 20px;
    right: 20px;
}

.nav-item {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 30;
    text-decoration: none;
    color: var(--fontColor);
}

.nav-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0%;
    border-bottom: 2px solid #F16A70;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.selected:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 2px solid #F16A70;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.nav-item:hover:after {
    width: 100%;
}

.accentbutton {
    width: 200px;
    height: 55px;
    border-radius: 5px;
    background: -o-linear-gradient(315deg, #fb7b6b 0%, #d7385e 100%);
    background: linear-gradient(135deg, #fb7b6b 0%, #d7385e 100%);
    -webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.16);
            box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.16);
    border: none;
    letter-spacing: 5px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

#social svg {
    fill:var(--contrast);
}

body {
    margin: 0px;
    padding: 0px;
}

#main {
    min-height: calc(100vh - 40px);
    background-color: var(--bgColor);
    border: 20px solid var(--contrast);
}

#social {
    position: absolute;
    min-height: calc(100vh - 230px);
    width: 100%;
    top: 190px;
    -webkit-animation: fadeInFromNoneSocial 5.5s ease-out;
            animation: fadeInFromNoneSocial 5.5s ease-out;
}

#scrollDown {
    position: absolute;
    min-height: calc(100vh - calc(100vh / 1.3) - 40px);
    width: 100%;
    top: calc(100vh / 1.3);
    -webkit-animation: fadeInFromNoneSocial 6s ease-out;
            animation: fadeInFromNoneSocial 6s ease-out;
}


.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box {
    padding: 0px 10px;
    font-size: 90px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
    color: var(--fontColor);
}

.animate-slideup {
    margin-right: 16px;
    -webkit-transform: translateY(200px) rotate(15deg);
        -ms-transform: translateY(200px) rotate(15deg);
            transform: translateY(200px) rotate(15deg);
    -webkit-animation: slideup 1000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
            animation: slideup 1000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
}

@-webkit-keyframes slideup {
    0% {
        -webkit-transform: translateY(200px) rotate(20deg);
                transform: translateY(200px) rotate(20deg);
    }
    100% {
        -webkit-transform: translateY(0px) rotate(0deg);
                transform: translateY(0px) rotate(0deg);
    }
}

@keyframes slideup {
    0% {
        -webkit-transform: translateY(200px) rotate(20deg);
                transform: translateY(200px) rotate(20deg);
    }
    100% {
        -webkit-transform: translateY(0px) rotate(0deg);
                transform: translateY(0px) rotate(0deg);
    }
}

.curtain {
    position: fixed;
    background-color: var(--contrast);
    width: calc(100vw - 12px);
    min-height: calc(100vw - 12px);
    top: 0px;
    left: 0px;
}

.progressBar {
    height: 2px;
    width: 2px;
    background-color: var(--bgColor);
}

.progressGrow-animation {
    -webkit-animation: grow 2000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
            animation: grow 2000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
}

main {
    height: 100vh;
}

section {
    position: relative;
    display: none;
}

section .sectionHeader {
    font-weight: 900;
    font-family: "Segoe UI", sans-serif;
    color: var(--fontColor);
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    position: absolute;
    top: 10vh;
}

section .reverse {
    color: var(--bgColor);
}


#projects {
    background-color: var(--bgColor);
    height: 100%;
    width: 100%;
    text-align: center;
}

#projects ul {
    position: absolute;
    top: 35vh;
}

.project img {
    width: 95%;
    margin: 0 2.5%;
}

.project-heading {
    color: var(--fontColor);
    font-weight: 700;
    font-family: "Segoe UI", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
}

.project-text {
    color: var(--fontColor);
    word-break: keep-all;
    width: 75%;
    margin: auto;
    font-family: "Segoe UI", sans-serif;
    font-size: 22px;
}

#skills {
    height: 60%;
    width: 100%;
    text-align: center;
    background-color: var(--bgColor);
}

#skills .bg {
    background:  -o-linear-gradient(315deg, #fb7b6b 0%, #d7385e 100%);
    background:  linear-gradient(135deg, #fb7b6b 0%, #d7385e 100%);
    height: 50vh;
    width: 100%;
}

#skills .content-box {
    position: absolute;
    top: 28vh;
    width: 80%;
    height: 30vh;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0px 3px 20px rgba(82, 45, 91, 0.35);
            box-shadow: 0px 3px 20px rgba(82, 45, 91, 0.35);
}

#skills .skills {
    position: absolute;
    top: 40px;
    margin-left: -50px;
}

#skills .skills svg {
    height: 80px;
}

#skills .skills p {
    font-weight: 700;
    font-family: "Segoe UI", sans-serif;
    font-size: 28px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    color: var(--fontColor);
}


#skills .linkedin {
    font-size: 20px;
    position: absolute;
    top: 23vh;
    margin-left: -90px;
}

#contact {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--bgColor);
}

#contactForm {
    float: left;
    top: 15vh !important;
}

#contact input {
    margin-bottom: 2vh;
    width: 70%;
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #707070;
}

#contact textarea {
    width: 70%;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
    border: 1px solid #707070;
    height: 20vh;
    margin-bottom: 2vh;
    resize: none;
}

#contact button {
    width: 73.5%;
    background-color: var(--fontColor);
    color: white;
    font-family: 'Segoe UI';
    font-weight: 700;
    border: none;
    letter-spacing: 3x;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 5px;
}

#contact .half {
    position: relative;
    top: 25vh;
    width: 45vw;
}

#contact .half svg {
    width: 80%;
    margin: auto;
}

#footer {
    height: 8vh;
    width: 100%;
    text-align: center;
    background-color: var(--bgColor);
}
#footer * {
    padding: 10px 40px;
    font-family: sans-serif;
}









@-webkit-keyframes grow {
    0% {
        width: 0px;
    }
    50% {
        width: calc(100% - 52px);
        height: 2px;
    }
    100% {
        width: calc(100vw - 52px);
        height: calc(100vh - 40px);
    }
}









@keyframes grow {
    0% {
        width: 0px;
    }
    50% {
        width: calc(100% - 52px);
        height: 2px;
    }
    100% {
        width: calc(100vw - 52px);
        height: calc(100vh - 40px);
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInFromNoneSocial {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNoneSocial {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


@media (max-width: 800px) {
    .flex {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .animate {
        margin-right: 4px;
    }
}

@media (max-width: 520px) {
    .box {
        font-size: 40px;
    }
    .main {
        border: 5px solid #fc3c3c;
    }
    .animate-slideup {
        margin-right: 6px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--contrast);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden {
    display: none;
}

.mobile-show {
    display: none;
}


@media (min-width: 481px) and (max-width: 767px) {
  
    .mobile-hidden {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    #contact .half {
        top: 30vh;
        width: 95vw;
    }
    
}
  
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .mobile-hidden {
        display: none;
    }

    .mobile-show {
        display: block;
    }


    #contact {
        height: 80%;
    }

    #contactForm {
        float: left;
        top: 23vh !important;
    }

    #contact .half {
        top: 30vh;
        width: 100vw;
    }

    #skills .content-box {
        height: 25vh;
    }

    #skills .skills {
        position: absolute;
        top: 40px;
        margin-left: -30px;
    }
    
    #skills .skills svg {
        height: 40px;
    }
    
    #skills .skills p {
        font-size: 22px;
    }

    #skills .bg {
        height: 40vh;
    }

    #skills .linkedin {
        top: 18vh;
    }

    #projects .project-list li {
        display: none;
    }

    .active-project {
        display: block !important;
    }

    #projects .project-list {
        top: 28vh;
    }

    .numberCircle {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 4px;
    
        background: #fff;
        border: 2px solid var(--fontColor);
        color: var(--fontColor);
        text-align: center;
    
        font-family: sans-serif;
        font-size: 22px;
    }


    .project-nav {
        top: 85vh !important;
    }

    .project-nav li {
        display: inline-block;
    }

    .pj-item {
        font-family: sans-serif;
        font-size: 22px;
        color: var(--fontColor);
        padding: 10px;
    }

    .logo {
        position: relative;
        top: 30px;
        font-size: 26px;
        left: 30px;
    }

    #social {
        width: 80%;
        top: 130px;
        margin: 10%;
    }

    .box {
        font-size: 30px;
    }

    .curtain {
        min-height: calc(100vw - 32px);
    }

}